<h1><%= @list.title %></h1>
<h3>Tasks</h3>
<div class="container">

        <ul class="list-group" style="list-style:none">
            <% @tasks.each do |t| %>           
            <li>
                <div class="row">
                    <div class="col-8">
                        <% if t.complete %>
                                        <!-- Conditionally show strikethrough text -->
                            <s><%= link_to t.body, task_path(t.id), class: "list-group-item list-group-item-action disabled" %></s>
                        <% elsif t.priority %>
                            <b><%= link_to t.body, task_path(t.id), class: "list-group-item list-group-item-action" %></b>
                        <% else t.priority %>
                            <%= link_to t.body, task_path(t.id), class: "list-group-item list-group-item-action" %>
                        <% end %>
                    </div>
                    <div class="col-">
                            <%= button_to 'X', task_path(t.id), method: 'delete', class: 'btn btn-danger delete_btn' %>
                    </div>
                </div>

               
            </li>
            <% end %>
        </ul>
    
</div>
<br />
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Basic example">
        <%= button_to 'Return', user_path(current_user), method: 'get',class: 'btn btn-primary' %>
        <%= button_to 'Add New Task', new_task_path, method: 'get', class: 'btn btn-outline-primary' %>
        <%= button_to 'Edit List', edit_list_path, method: 'get', class: 'btn btn-outline-secondary' %>
    </div>
</div>

