<h1>Edit Task</h1>
<%= form_for @task do |f| %>
<%= f.label :list_id %>:
<%= f.collection_select(:list_id, current_user.lists, :id, :title) %>
<%= f.text_field :body, placeholder: "The Task" %>
<%= f.text_area :details, placeholder: "Additional Details" %>
<%= f.label "Is this task complete?"%>
<%= f.check_box :complete%>
<br />
<%= f.submit class: 'btn btn-success'%> %>
<% end %>
<div class="btn-group" role="group" aria-label="Basic example">
    <%= button_to 'Cancel', task_path, method: 'get', class: 'btn btn-secondary'%>
    <%= button_to 'Delete', task_path, method: 'delete', class: 'btn btn-danger' %>
</div>
