<h1>Create a New Task</h1>
<%= form_for @task do |f| %>


<div class="container-fluid">
    <div class="row">
        <div class="col">
               <%=f.label "Select List:"%> <%= f.collection_select :list_id, current_user.lists, :id, :title, class: "btn btn-default dropdown-toggle"%>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <%= f.text_field :body, placeholder: "The Task", class:"form-control" %>
        </div>
        <div class="col form-check">
                <%= f.check_box :complete, class: "form-check-input"%>
                <%= f.label "Task Complete?"%>

        </div>
        <div class="col form-check">
                <%= f.check_box :priority, class: "form-check-input"%>
                <%= f.label "Priority Task?"%>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <%= f.text_area :details, placeholder: "Additional Details", class:"form-control"%>
        </div>
    </div>
            <br />
</div>
<div class="container-fluid">
    <div class="btn-group" role="group" aria-label="Basic example">
        <%= f.submit class: 'btn btn-success'%>
        <% end %>
        <%= button_to 'Cancel', user_path(current_user), method: 'get', class: 'btn btn-secondary'%>
    </div>
</div>


