<h1><%= @task.body %></h1>
<h2>Task Details </h2>
<br />
<!-- Display task details -->
<p><%= @task.details %></p>

<!-- Display if task is complete in plain english -->
<small>This task is <b><%=@task.complete ? 'completed' : 'not completed' %></b></small>
<br />
<br />
<%= button_to 'Edit Task', edit_task_path, method: 'get' %>
<br/>
<%= button_to 'Return', list_path(@task.list_id), method: 'get' %>
