<%= form_for @user, :html => {class: ''} do |f| %>
<h1>Create Account:</h1>
<br />
<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
<br />
<%= f.text_field :email, class: "form-control", placeholder: "Email" %>
<br />
<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
<br />
<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
<br />
<%= f.submit 'Create Account', class:"btn btn-success" %>
<br />
<% end %>
