<h1>Hello <%=@user.name.titleize%></h1>

<h2>Here are your lists</h2>

<ul>
<% @lists.each do |l| %>
<li>
    <%= link_to l.title, list_path(l.id)%>
</li>
<% end %>
</ul>
<div class="btn-group" role="group" aria-label="Basic example">
        <%= button_to 'Add New List', new_list_path, method: 'get', class: 'btn btn-secondary' %>
        <%= button_to 'Add New Task', new_task_path, method: 'get', class: 'btn btn-secondary' %>       
        <%= button_to 'Edit User', edit_user_path, method: 'get', class: 'btn btn-secondary' %>
</div>

