<h1>Users#show</h1>

<h2>Here's <%=@user.name%>'s Lists</h2>

<%= button_to 'Add New List', new_list_path, method: 'get' %>

<ul>
<% @lists.each do |l| %>
<li>
    <%= link_to l.title, list_path(l.id)%>
</li>
<% end %>
</ul>

<%= button_to 'Add New List', new_list_path, method: 'get' %>

<%= button_to 'Edit User', edit_user_path, method: 'get' %>
